<h2>Complete your profile</h2>

<%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.hidden_field :invitation_token %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, readonly: true %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :phone %><br />
    <%= f.telephone_field :phone %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit "Complete Signup" %>
  </div>
<% end %>
